@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
} */

/* global.css */
.title {
  @apply text-4xl mb-10 tracking-wider font-light;
}

.subtitle {
  @apply text-purple mb-4 text-3xl font-normal;
}

.body {
  @apply text-base text-gray-600;
}

.custom-marker::before {
  content: "🌟";
  display: inline-block;
  position: absolute;
  margin-right: 0.5rem;
  top: 0;
  left: 0;
}
